{% extends 'layout.html' %}

{% block content %}
    <div class="luffy-container">
        <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <div style="margin: 5px 0">
                <input type="submit" value="保存" class="btn btn-success">
            </div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>姓名</th>
                    <th>考勤</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        {{ form.id }}  {% comment %}这是一个隐藏的input框,用来让form保存时,知道当前这个对象是，数据库里面哪一行的记录,渲染时input的value就是这行记录的主键id{% endcomment %}
                        <td>{{ form.instance.student }}</td>
                        <td>{{ form.record }} <span style="color: red">{{ form.record.errors.0 }}</span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
